* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

div, section {
    border: 1px solid black;
}

main {
    width: 1900px;
    margin: auto;

    display: flex;
}

header {
    height: 80px;
    display: flex;
    flex-basis: 100%;
}

.lefth, .righth {
    flex-basis: 10%;

    display: flex;
}

.centerh {
    flex-basis: 80%;

    display: flex;
}

.lefth-l {
    flex-basis: 40%;
    display: flex;

    justify-content: center;
    align-items: center;
}

.lefth-r {
    flex-basis: 60%;
    display: flex;

    justify-content: center;
    align-items: center;
}

.fa-bars {
    height: 30px;
    width: 60px;
    background-color: transparent;
    border: none;
}

#youtube-logo {
    height: 100px;
    width: 150px;
}

.centerh {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-bar {
    height: 50px;
    width: 500px;
    display: flex;
}

.search-bar {
    flex-basis: 80%;
    display: flex;
    border-radius: 50px;
    border: 1px solid black;  
}

.search {
    flex-basis: 80%;
    display: flex;

    justify-content: center;
    align-items: center;
}

#query {
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    outline: none;
}

 







